@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-gray-100;
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    color: #0070f3;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    font-style: italic;
  }
  
  /* Esconder a imagem grande */
  .imagem-grande {
    display: none;
  }
  
  /* Estilizar o link */
  .link-imagem:hover {
    cursor: zoom-in;
  }
  
  /* Mudar a aparência do link quando o usuário passar o mouse sobre a imagem pequena */
  .imagem-pequena:hover {
    opacity: 0.7;
  }
  